<p style="color: green"><%= notice %></p>

<h1> welcome to the BudgetApp</h1>

<div id="users">
  <% @users.each do |user| %>

    <p>
      <%= link_to "click here to  go to profile", user %>
    </p>
  <% end %>
</div>


