<div class="show">
  <h1>BudgetApp!</h1>
    <%= link_to "LOGIN",   new_user_session_path, class: "login-text" %>
    <%= link_to "SIGN UP", new_user_registration_path, class: "sign-up-text" %>
</div>
