<div>
  <h1>BudgetApp!</h1>
  <div>
    <%= button_to "LOGIN", user_session_path, method: :get, autofocus: true %>
    <%=button_to "SIGNUP", new_user_registration_path, method: get %>
  </div>
</div>
